[user]
	signingkey = F1A53BC2CC6565EADD7B644FB2E2F4A5161A7800
	name = sadanslargehole
	email = sadan@sadanslargehole.com
[commit]
	gpgsign = true
[core]
	autocrlf = input
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
