[submodule "dotfiles/nvim"]
	path = dotfiles/nvim
	url = git@github.com:sadanslargehole/nvim.git
[submodule "dotfiles/scripts"]
	path = dotfiles/scripts
	url = git@github.com:sadan4/scripts.git
[submodule "customPackages/chrome-pak-customizer"]
	path = customPackages/chrome-pak-customizer
	url = git@github.com:sadan4/chrome-pak-customizer
[submodule "customPackages/ceserver"]
	path = customPackages/ceserver
	url = git@github.com:sadan4/ceserver.git
